* {
    font-family: harryPotterFont;
    color: #ffc300;
}

input,
button {
    text-shadow: none;
    color: #f0c949;
    border: 1px solid #ffc300;
}

button {
    background-color: rgb(255, 157, 0);
}

form {
    margin: 30px 0 50px 0;
}