.movies {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie {
    color: #ffc300;
    text-shadow: 2px 1px #000814;
    font-family: harryPotterFont;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgb(12, 16, 37);
    background-color: rgb(122, 130, 165);
}

.image {
    width: 200px;
    margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(12, 16, 37);
}

h3 {
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}